<div style="color: #7C62A9;">
    <h1>Hi, it's {{firstName}}</h1>
    <h3>Join me at BlazeHub</h3>
    <p>It is a platform for connecting people: A place to chat, follow interesting conversions and be a part of a
        growing community</p>
    <br />

    <a href="{{link}}"
        style="padding: 0.7em 1.3em; border-radius: 10px; background: #7C62A9; color: white; text-decoration: none; display: inline-block; font-weight: bold">
        Join Now
    </a>

    <p>
        Best regards, <br>
        <span style="color: #ccc;">
            {{firstName}} {{lastName}}
        </span>
    </p>
</div>